<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <connectionStrings>
    <!--In order to set connection string replace *Machine Name* and *MSSQLServer instance name*
      with the corresponding values for installed MSSQL Server-->
    <!--<add name="DefaultConnection" 
      connectionString="Data Source=*Machine Name*\*MSSQLServer instance name*;Initial Catalog=WindowsMetrics;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=WindowsMetrics;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="ActivitiesToSendAtOneTime" value="50"/>
    <add key="AuthorizationUri" value="http://innometrics.guru:8000/api-token-auth/"/>
    <add key="SendDataUri" value="http://innometrics.guru:8000/activities/"/>
    <add key="UpdateXmlUri" value="http://innometrics.guru:8000/downloadables/win/metricsUpdate.xml"/>
    <add key="Assemblies" value="CommonModels.dll;MetricsProcessing.dll;Transmission.dll;Update.dll;WindowsMetrics.dll;MetricsCollectorApplication.exe;MetricsSenderApplication.exe"/>
  </appSettings>
</configuration>
