<html>
<head>
<!--Load the AJAX API-->
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
	
<script type="text/javascript">
	// Pagination
	function openTab(cityName) {
		var i;
		var x = document.getElementsByClassName("tabText");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		document.getElementById(cityName).style.display = "block";
	}
</script>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css" type="text/css">
<link rel="stylesheet"
	href="http://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<body id="myPage">
	<header class="w3-container w3-theme w3-padding" id="myHeader">
		<div class="w3-center">
			<h4>Innopolis University dashboarding system</h4>
			<h1 class="w3-xxxlarge w3-animate-bottom">InnoMetrics</h1>
			<div class="w3-padding-32"> 
				<a href='register'>Registration</a>
				<br><a href='api-auth/login'>Log in</a>
			</div>
		</div>
	</header>

	<ul class="w3-navbar">
		<li><a href="javascript:void(0)" onclick="openTab('macOS')">macOS</a></li>
		<li><a href="javascript:void(0)" onclick="openTab('Linux')">Linux</a></li>
		<li><a href="javascript:void(0)" onclick="openTab('Windows')">Windows</a></li>
		<!-- <li><a href="javascript:void(0)" onclick="openTab('Project')">Project</a></li>  --> 
	</ul>
	<div id="Intro" class="tabText" style="display: block">
		Greetings, manager.
		<br>Here you will not see any dashboards. Yet. 
		This feature will come soon. You can register now and start collecting 
		data so that you'll have data when we upload dashboards software here.
		<br>Stay tuned.
	</div>
	<br> You will need to register before uploading data. Registration is available through <a href='register'>here.</a>
	<div id="macOS" class="tabText" style="display: none">
	<ul>
		<li> Download the application <a href='/downloadables/InnoMetrics_mac.dmg' download>via this link</a> </li>
		<li> double-click on downloaded file </li>
		<li> Run InnoMtricsCollector from Applications (not from .dmg file) to start collecting metrics. </li>
		<li> Drag-and-drop InnoMetricsCollector and InnometrcisTransfer into Applications folder </li>
		<li> Run InnometricsTransfer from Applications (not from .dmg file) to configure already collected metrics and send them to the server.</li>
	</ul>
		<br> 
	</div>
	<div id="Linux" class="tabText" style="display: none">
	<ul>
		<li> Download installation file: <a href='/downloadables/InnoMetrics_linux.bz2.run' download>Linux </a> </li>
		<li> Need to open Terminal, and go to the directory where the installation file downloaded(InnoMetrics_linux.bz2.run);</li>
		<li> Make installation utilite executable: <br><code>chmod u+x InnoMetrics_linux.bz2.run;</code></li>
		<li> Install programm by command :  <br><code>sudo ./InnoMetrics_linux.bz2.run;</code></li>
		<li> Run program by finding program in Dash or just type InnoMetrics in terminal.</li>
	</ul>
	</div>
	<div id="Windows" class="tabText" style="display: none">
		<br> Make sure to have MSSQL LocalDb Server installed on your machine.
		To install "Metrics Collection System" download two files:
		<ul>
		<li> <a href='/downloadables/MetricsCollectionSystem.msi' download>MetricsCollectionSystem.msi</a></li>
		<li><a href='/downloadables/InnoMetrics_win.exe' download>InnoMetrics_win.exe</a></li>
		</ul>
		
		<br>Run InnoMetrics_win.exe file and follow instructions.
		<!-- You'll see welcome window. Click "Next".
		In "Select Installation Folder" window select a folder, or leave the default value.
		In "Confirm Installation" window click "Next" and wait for completeion. Close the window.  -->
		
		<br>The system is installed on the machine. Its launchers can be found in the folder, selected for installation. By default the folder is 
		C:\(ProgramFiles of ProgramFiles (x86))\Innopolis University\Metrics Collection System
		
		<br>There're two .exe files there:
		<ul>
		<li> MetricsCollectorApplication.exe</li>
		<li> MetricsSenderApplication.exe</li>
		</ul>
		MetricsCollectorApplication.exe is an application for tracking user activities.
		<br>MetricsSenderApplication.exe is an application for observing collected activities, and sending activities to a server.
		
	</div>


	</div>

	<div id="Project" class="tabText" style="display: none">
		<div class="w3-row">
			<br> TODO: fill <br> if this will be accepted
		</div>
		<h2>Project description</h2>

		<h3>Team</h3>
		Students:
		<h3>Our metrics</h3>
		<div v class="w3-container w3-padding-64 w3-center" id="team"></div>
	</div>

</body>
</html>
